//scss set default
$theme-colors: (
  'primary': #2b0806,
  'secondary':#ffdbbd,
	'tertiary': #ef5454,
  'success': #32987d,
  'info': #ADCAEB,
  'warning': #9a031e,
  'light': #f8f6f3,
  'dark': #E5AA70,
  'danger': #EFB07D,
  
);

$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%
);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #f8f6f3;
	font-family: 'Raleway', sans-serif;;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2b0806;
  border-radius: 10px;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-image{
  background-image: url("../images/bg-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.text_2{
  letter-spacing: 5px;
  white-space: nowrap;
  // border-right: 2px solid hsl(0, 0%, 0%);
}

.text_effect{
  background-image: linear-gradient(90deg, #c9ddff, #ecb0e1);
  background-size: 0% 5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
}

.text_effect:hover{
  background-size: 100% 5px;
}
.active.text_2{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms infinite;
}

.lead{
  font-size: 2rem;
}
.main-text{
  font-size: 4rem;
}

.period{
  color: #5A0619;
}

.a-link{
  text-decoration: underline;
}

.text_3{
  background-image: linear-gradient(90deg, #c9ddff, #ecb0e1,);
  background-size: 0% 5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
}

.text_3:hover{
  background-size: 100% 5px;
}

.caption{
  font-weight: 300;
  font-size: small;
}

.card_img{
  background-image: url('../images/animeintro.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_img_2{
  background-image: url('../images/card.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
//ANIMATIONS

//code for class reveal, which only plays the animation when the user has 'seen it'
.reveal {
  position: relative;
  opacity: 0;
}

.reveal_once {
  position: relative;
  opacity: 0;
}

.reveal_once.active {
  opacity: 1;
}

.reveal.active {
  opacity: 1;
}

//on hover zoom
.hover-zoom{
  transition: all 0.3s ease;
  opacity: 0.95;
}
.hover-zoom:hover{
  transform: scale(1.02);
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  opacity: 1;
}

//in conjuction with javascript - when active do animation
.active.fade-bottom {
  animation: fade-bottom 1s ease;
}
.active.fade-left {
  animation: fade-left 1s ease;
}
.active.fade-right {
  animation: fade-right 1s ease;
}

.start_fade-bottom{
  animation: fade-bottom 1s ease;
}
.start_fade-left {
  animation: fade-left 1s ease;
}
.start_fade-right {
  animation: fade-right 1s ease;
}


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.promo_text{
  text-align: center;
  justify-content: center;
}

// from stackoverflow answer makes the dropdown look better

select.form-control + .chosen-container-multi .chosen-choices {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 2.5rem;
  padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

  background-image: none;
  padding: 3px 24px 3px 5px;
  margin: 0 6px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top:8px;
  right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
  border-color: #ADCAEB;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
  display: list-item;
  color: #ccc;
  cursor: default;
  background-color: white;
}